body {
  background-color: #e8d8ef;
}

.container {
  display: flex;
  justify-content: center;
 }

.btn {
  background-color: #895761;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
}

.all {
  background-color: #492d32;
}

.submit {
  background-color: #e8d8ef;
  color:blue;
  border: none;
}